<div class= "container">
<h1><%= @user.nickname %></h1>
<%= image_tag @user.avatar, class:"img2 fb-image-profile thumbnail", align: "left", height: "100", width:"100",
    onerror: "this.src='http://i.imgur.com/3cg67mg.jpg';"%>
<% if user_signed_in? %>
    <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-default" %>
<%end%>
</div>

<div class= "container" style="margin-top:100px;">
<h1>Your book</h1>
<div class="row">
<% @user.books.each do |book| %>
      <div class="col-sm-6 col-md-3">
        <div class="card card-margin">
          <a class="card-anchor" href="/books/<%= book.id%>">
            <% if book.cover.present? %>
              <%= image_tag(book.cover.url, class: "card-img-top")%>
            <% else %>
              <%= image_tag "http://4.darkroom.stylist.co.uk/980/14a54a22c321c8968559825625c2def5:b6a41ec79d439f19d31111577dacf6dd/books.jpg", class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <h5 class="card-text"><%= book.author %></h5>
            <h4 class="card-title"><em>"<%= book.title %>"</em><small>, <%= book.public_year %>.</small></h4>
          </div>
          </a>
          <div class="card-footer">
            <p class="text-muted">Create At <em><%= book.created_at %></em></p>
            <% if current_user.id == book.user.id %>
              <div class="row">
                <div class="col"><%= link_to 'Edit', edit_book_path(book), class:"btn btn-outline-warning btn-sm btn-block" %></div>
                <div class="col"><%= link_to 'Remove', book, method: :delete, data: { confirm: 'Remove the book permanently from the database? Are you sure?' }, class:"btn btn-outline-danger btn-sm btn-block" %></div>
              </div>
            <% end %>
          </div>
     </div>
     </div>
    <% end %>
</div>
</div>