<% if noti.notice_type == 'BOOK_REQUEST' %>
  <% target_link = noti.request_status == 'ACCEPTED' ? book_path(noti.book.id) : edit_book_path(noti.book.id) %>
<% end %>
<a class="dropdown-item notification <%= noti.is_read ? 'notification-read' : 'notification-not-read' %>" href="<%= target_link %>">
  <% if noti.notice_type == 'BOOK_REQUEST' %>
    <span class="col-md-3">
      <%= image_tag noti.book.cover, width: '30' %>
    </span>

    <% if noti.request_status == 'ACCEPTED' %>
      <span class="col-md-8">
        <p class="notification-content">
          <%= noti.notified_by.nickname %> accepted your request of <strong><%= noti.book.title %></strong>
        </p>
      </span>
    <% else %>
      <span class="col-md-8">
        <p class="notification-content">
          <%= noti.notified_by.nickname %> rejected your request of <strong><%= noti.book.title %></strong>
        </p>
      </span>
    <% end %>
  <% end %>
</a>
