<div class="form-size transparent-white">

<div class="row">
    <div class="col-6">
      <img src="<%= @book.cover %>" alt="This book's cover" class="img-thumbnail">
    </div>
    <div class="col-6">
      <h5>
  <em>"<%= @book.title %>"</em>
</h5>

<p>
  <strong>Written by:</strong>
  <%= @book.author %> <br />
  <strong>Published in:</strong>
  <%= @book.public_year %>
</p>
<p class="text-muted">
  <strong>Added by:</strong>
  <%= @book.user.nickname %>
</p>
    </div>
  </div>

<% if @reviews.any? %>
  <strong>Rating:</strong>
  <%= @reviews.average(:rating).round(1) %>
  <% @reviews.each do |review| %>
    <hr>
    <p>
      User: <%= review.user.nickname %><br/>
      Rating: <%= review.rating %><br/>
      Content: <%= review.content %><br/>
      <%= link_to "Show review", book_review_path(@book, review) %>
      <% if current_user.id == review.user.id %> |
        <%= link_to "Edit review", edit_book_review_path(@book, review) %> |
        <%= link_to "Delete review", [@book, review], method: :delete,
          data: {confirm: 'Remove review permanently from the database? Are you sure?'}%>
      <% end %>
    </p>
  <% end %>
<% end %>
<hr>
&nbsp;
<% unless notice.to_s.strip.empty? %>
<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<%= link_to 'OK', books_path, class:"btn btn-outline-success" %>

<% if current_user.id == @book.user.id %>
<%= link_to 'Edit', edit_book_path(@book), class:"btn btn-outline-warning" %>
<%= link_to 'Remove', @book, method: :delete, data: { confirm: 'Remove the book permanently from the database? Are you sure?' }, class:"btn btn-outline-danger" %>
<% end %>
</div>
<div class="action-panel transparent-white eighty-percent"><%= link_to new_book_review_path(@book), class:"btn btn-primary float-right" do %><i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Review this Book<% end %></div>
