<div class="form-size transparent-white">

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Public year:</strong>
  <%= @book.public_year %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user.nickname %>
</p>
<% unless notice.to_s.strip.empty? %>
<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<%= link_to 'Edit', edit_book_path(@book), class:"btn btn-outline-warning" %>
<%= link_to 'OK', books_path, class:"btn btn-outline-success" %>
</div>