<div class="form-size transparent-white">
  
<div><img src="<%= @book.cover %>" alt="This book's cover" class="img-thumbnail"></div>
<br />

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Public year:</strong>
  <%= @book.public_year %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user.nickname %>
</p>

<% if @reviews.any? %>
  <strong>Rating:</strong>
  <%= @reviews.average(:rating).round(1) %>
  <% @reviews.each do |review| %>
    <hr>
    <p>
      User: <%= review.user.nickname %><br/>
      Rating: <%= review.rating %><br/>
      Content: <%= review.content %><br/>
      <%= link_to "Show review", book_review_path(@book, review) %>
      <% if current_user.id == review.user.id %> |
        <%= link_to "Edit review", edit_book_review_path(@book, review) %> |
        <%= link_to "Delete review", [@book, review], method: :delete,
          data: {confirm: 'Remove review permanently from the database? Are you sure?'}%>
      <% end %>
    </p>
  <% end %>
<% end %>
<hr>
<%= link_to new_book_review_path(@book), class:"btn btn-primary" do %>
<i class="fa fa-plus-square" aria-hidden="true"></i> &nbsp;Review this Book
<% end %>
&nbsp;
<% unless notice.to_s.strip.empty? %>
<p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if current_user.id == @book.user.id %>
<%= link_to 'Edit', edit_book_path(@book), class:"btn btn-outline-warning" %>
<% end %>
<%= link_to 'OK', books_path, class:"btn btn-outline-success" %>
</div>
