<%= form_for [book, review] do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control", id: :review_content %>
  </div>

  <% if review.new_record? %>
    <%= form.label :rating, class:"form-group" do%>
    Rate this book&nbsp;
    <% end %>
    <%= form.select :rating, options_for_select(1..10), {prompt: ""}%>
  <% end %>

  <div class="field">
    <%= form.hidden_field :book_id, value: book.id %>
  </div>
  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit "Update", class:"btn btn-success" %>
    <%= link_to "Discard changes", book_path(@book) , class:"btn btn-link"%>
  </div>
<% end %>
