<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<p>
  <strong>Book:</strong>
  <%= @review.book.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user.nickname %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to "Back to Book", book_path(@review.book) %>

