<!DOCTYPE html>
<html>
  <head>
    <title>iBook</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/8f86609178.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top transparent-white">
  <a class="navbar-brand" href="/">
    <img src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Gray_book.png" width="30" height="30" alt="">
    <strong>iBook</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    &nbsp;
    <form class="form-inline ">
      <div class="input-group">
      <input class="form-control " type="text" placeholder="Search" aria-label="Search">
      <span class="input-group-btn">
      <button class="btn btn-outline-success " type="submit">Search</button>
      </span>
      </div>
    </form>

    <ul class="navbar-nav ml-auto">
      &nbsp;
      <% if current_user%>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/books">Books</a>
      </li>
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/categories">Categories</a>
      </li>
      <% end %>
      &nbsp;
      <li class="nav-item ml-auto" id="user-nav-item">
        <% if current_user%>
          <a class="btn btn-light" role=button href="/users/edit"><i class="fa fa-user" aria-hidden="true"></i> <strong><%= current_user.nickname %></strong></a>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-light"%>
        <% else %>
          <%= link_to "Sign up", new_registration_path(resource_name), class:"btn btn-primary" %>
          <%= link_to "Sign in", new_session_path(resource_name), class:"btn btn-outline-primary" %>
        <% end %>
      </li>
      &nbsp;
    </ul>

  </div>
</nav>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<div class="content-body">
  <%= yield %>
</div>
  </body>
</html>
